@import url(http://fonts.googleapis.com/css?family=Roboto:400italic,700italic,700,400);
body {
	/*add in your gif here*/
	background-image:url(../images/cauliflower.gif);
	/*this code centers and fixes your gif to the background, treat gifs like any
	other image*/
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

	font-family: Helvetica, Arial;
	font-size: 16px;
	line-height: 1.4;
	color: blue;
	cursor: url(../images/22.gif),auto;
	background gif cauliflower.gif: 

}

a.see_also_link, a.see_also_link:visited, a.see_also_link:active, a.see_also_link:hover {
    color: #d004fc;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 2px solid #000000;
    cursor: url(../images/15.gif),auto;
}
a.see_also_link:hover {
    color: #ffff00;
    border-color: #ffff00;
}
a.see_also_link:active {
    color: #ffffff;
    border-color: #ffffff;
}

.full{
	height:50%;
	width: 150%;
	background-position:left center;
	background-size:cover;
	/*fixes bkgrnd*/
	background-attachment: fixed;
	/*display: flex;*/
	position: relative;
}

html, body {
	height: 200%;

}

h1 {
	font-size: 20px;
}

nav a {
	text-decoration: none;
	padding: 10px; 
}

nav a:visited {
	color: black;
}

nav a:hover {

	text-decoration: blink;
}

nav a:visited {
	color: blue;
}

img {
	width: 400px;
}

#lightbox {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	background:transparent;
	width: 70%;
	height: 70%;
	
	display:none;

}


#lightbox img {
	width: 100%;
	position: absolute;
	top: 200%;
	left: 200%;
	transform: translate(-50%, -50%);

}


.video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    
}

.video iframe {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.video .overlay {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; /* you were also missing a semi-colon here, which was breaking this and the background rule */
    background: url(<iframe width="1280" height="720" src="//www.youtube.com/embed/wEhMsAXu5Rw?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>) repeat;
}
